In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.datasets import load_digits

In [2]:
#2.Download the Alphabet Soup Charity dataset
charity_df= pd.read_csv("charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
y_train = charity_df.IS_SUCCESSFUL
y_train

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [4]:
X_train= charity_df.drop(columns='IS_SUCCESSFUL')
X_train

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590
...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179

In [5]:
#3.Import and characterize the input data
charity_df_relevant = charity_df.drop(columns=['EIN', 'NAME'])
charity_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# List dataframe data types
charity_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [7]:
X_train.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
dtype: int64

In [8]:
X_train[X_train.dtypes[X_train.dtypes=='object'].index].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [9]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
charity_df[charity_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [10]:
# 4.Using the methods described in this module, preprocess all numerical and categorical variables, as needed
#Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]), index=charity_df.index)

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head

<bound method NDFrame.head of        NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC  \
0                                                    0.0
1                                                    0.0
2                                                    0.0
3                                                    0.0
4                                                    0.0
...                                                  ...
34294                                                0.0
34295                                                0.0
34296                                                0.0
34297                                                0.0
34298                                                0.0

       NAME_100 BLACK MEN OF AMERICA  NAME_100 BLACK MEN OF MEMPHIS INC  \
0                                0.0                                0.0
1                                0.0                                0.0
2                                0.0                                0.0
3                                0.0                                0.0
4                                0.0                                0.0
...                              ...                                ...
34294                            0.0                                0.0
34295                            0.0                                0.0
34296                            0.0                                0.0
34297                            0.0                                0.0
34298                            0.0                                0.0

       NAME_100 BLACK MEN OF WEST GEORGIA INC  NAME_1150 WEBSTER STREET INC  \
0                                         0.0                           0.0
1                                         0.0                           0.0
2                                         0.0                           0.0
3                                         0.0                           0.0
4                                         0.0                           0.0
...                                       ...                           ...
34294                                     0.0                           0.0
34295                                     0.0                           0.0
34296                                     0.0                           0.0
34297                                     0.0                           0.0
34298                                     0.0                           0.0

       NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION  \
0                                                    0.0
1                                                    0.0
2                                                    0.0
3                                                    0.0
4                                                    0.0
...                                                  ...
34294                                                0.0
34295                                                0.0
34296                                                0.0
34297                                                0.0
34298                                                0.0

       NAME_13TH BOMB SQUADRON ASSOCIATION  NAME_146TH ALUMNI ASSOCIATION  \
0                                      0.0                            0.0
1                                      0.0                            0.0
2                                      0.0                            0.0
3                                      0.0                            0.0
4                                      0.0                            0.0
...                                    ...                            ...
34294                                  0.0                            0.0
34295                                  0.0                            0.0
34296                                  0.0                            0.0
34297                                  0.0                            0.0
34298                                  0.0                            0.0

       NAME_14TH ARMORED DIVISION  \
0                             0.0
1                             0.0
2                             0.0
3                             0.0
4                             0.0
...                           ...
34294                         0.0
34295                         0.0
34296                         0.0
34297                         0.0
34298                         0.0

       NAME_150TH INTELLIGENCE SQUADRON ENLISTED ADVISORY COUNCIL  ...  \
0                                                    0.0           ...
1                                                    0.0           ...
2                                                    0.0           ...
3                                                    0.0           ...
4                                                    0.0           ...
...                                                  ...           ...
34294                                                0.0           ...
34295                                                0.0           ...
34296                                                0.0           ...
34297                                                0.0           ...
34298                                                0.0           ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    0.0                     0.0                       0.0
1                    1.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     1.0                       0.0
4                    0.0                     0.0                       1.0
...                  ...                     ...                       ...
34294                0.0                     0.0                       0.0
34295                0.0                     0.0                       0.0
34296                0.0                     0.0                       0.0
34297                0.0                     0.0                       0.0
34298                0.0                     0.0                       0.0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     0.0               0.0                     0.0
...                   ...               ...                     ...
34294                 0.0               0.0                     0.0
34295                 0.0               0.0                     0.0
34296                 0.0               0.0                     0.0
34297                 0.0               0.0                     0.0
34298                 0.0               1.0                     0.0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34294              0.0                0.0                       1.0
34295              0.0                0.0                       1.0
34296              0.0                0.0                       1.0
34297              0.0                0.0                       1.0
34298              0.0                0.0                       1.0

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34294                       0.0
34295                       0.0
34296                       0.0
34297                       0.0
34298                       0.0

[34299 rows x 19682 columns]>

In [11]:
#pd.get_dummies(X_train[X_train.dtypes[X_train.dtypes=='object'].index])

In [12]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
#Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop("IS_SUCCESSFUL",1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2

select_k_best= SelectKBest(chi2, k=20)
select_k_best.fit(X_train,y_train)

pd.DataFrame(select_k_best.transform(X_train))

//anaconda3/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:167: RuntimeWarning: divide by zero encountered in true_divide
  chisq /= f_exp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,454156045.0,14651.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,263979862.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,593225786.0,17162.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,264245024.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,814534614.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25719,453822148.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
25720,271068601.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25721,593062311.0,108245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25722,464801799.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
25723,812481339.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [15]:
#feature_scores= pd.DataFrame({'feature' : X_train,'select_k_best': select_k_best.scores_} )
#feature_scores

In [20]:
#5.
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 157488
_________________________________________________________________
dense_7 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 5
=================================================================
Total params: 157,529
Trainable params: 157,529
Non-trainable params: 0
_________________________________________________________________

In [21]:
#6.Compile, train, and evaluate your binary classification model.
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.7557 - accuracy: 0.6773
Epoch 2/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.4362 - accuracy: 0.7850
Epoch 3/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.2697 - accuracy: 0.8847
Epoch 4/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.1813 - accuracy: 0.9391
Epoch 5/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.1595 - accuracy: 0.9443
Epoch 6/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.1481 - accuracy: 0.9467
Epoch 7/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.1423 - accuracy: 0.9488
Epoch 8/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.1392 - accuracy: 0.9490
Epoch 9/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.1363 - accuracy: 0.9500
Epoch 10/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.1355 - accuracy: 0.9506
Epoch 11/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.1330 - accuracy: 0.9516
Epoch 12/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.1316 - accuracy: 0.9516
Epoch 13/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.1312 - accuracy: 0.9517
Epoch 14/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.1300 - accuracy: 0.9519
Epoch 15/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.1293 - accuracy: 0.9523
Epoch 16/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.1281 - accuracy: 0.9533
Epoch 17/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.1274 - accuracy: 0.9532
Epoch 18/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.1272 - accuracy: 0.9529
Epoch 19/100
25724/25724 [==============================] - 4s 168us/sample - loss: 0.1271 - accuracy: 0.9530
Epoch 20/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.1261 - accuracy: 0.9532
Epoch 21/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.1245 - accuracy: 0.9529
Epoch 22/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.1207 - accuracy: 0.9528
Epoch 23/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.1171 - accuracy: 0.9545
Epoch 24/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.1139 - accuracy: 0.9541
Epoch 25/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.1116 - accuracy: 0.9542
Epoch 26/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.1095 - accuracy: 0.9542
Epoch 27/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.1067 - accuracy: 0.9541
Epoch 28/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.1053 - accuracy: 0.9584
Epoch 29/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.1035 - accuracy: 0.9621
Epoch 30/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.1030 - accuracy: 0.9616
Epoch 31/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.1023 - accuracy: 0.9621
Epoch 32/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.1013 - accuracy: 0.9625
Epoch 33/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.1010 - accuracy: 0.9626
Epoch 34/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.1006 - accuracy: 0.9627
Epoch 35/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.1004 - accuracy: 0.9621
Epoch 36/100
25724/25724 [==============================] - 5s 175us/sample - loss: 0.1000 - accuracy: 0.9623
Epoch 37/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.0997 - accuracy: 0.9626
Epoch 38/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0997 - accuracy: 0.9632
Epoch 39/100
25724/25724 [==============================] - 5s 194us/sample - loss: 0.0997 - accuracy: 0.9630
Epoch 40/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0991 - accuracy: 0.9633
Epoch 41/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0990 - accuracy: 0.9630
Epoch 42/100
25724/25724 [==============================] - 5s 210us/sample - loss: 0.0989 - accuracy: 0.9623
Epoch 43/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.0979 - accuracy: 0.9632
Epoch 44/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0975 - accuracy: 0.9630
Epoch 45/100
25724/25724 [==============================] - 5s 191us/sample - loss: 0.0970 - accuracy: 0.9636
Epoch 46/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0967 - accuracy: 0.9635
Epoch 47/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0965 - accuracy: 0.9638
Epoch 48/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0961 - accuracy: 0.9633
Epoch 49/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.0963 - accuracy: 0.9633
Epoch 50/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0958 - accuracy: 0.9636
Epoch 51/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0961 - accuracy: 0.9635
Epoch 52/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0957 - accuracy: 0.9637
Epoch 53/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0956 - accuracy: 0.9641
Epoch 54/100
25724/25724 [==============================] - 5s 180us/sample - loss: 0.0956 - accuracy: 0.9639
Epoch 55/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.0959 - accuracy: 0.9638
Epoch 56/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.0955 - accuracy: 0.9640
Epoch 57/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0957 - accuracy: 0.9645
Epoch 58/100
25724/25724 [==============================] - 5s 192us/sample - loss: 0.0955 - accuracy: 0.9640
Epoch 59/100
25724/25724 [==============================] - 5s 181us/sample - loss: 0.0953 - accuracy: 0.9643
Epoch 60/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0954 - accuracy: 0.9640
Epoch 61/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.0953 - accuracy: 0.9638
Epoch 62/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0948 - accuracy: 0.9642
Epoch 63/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0945 - accuracy: 0.9646
Epoch 64/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0945 - accuracy: 0.9645
Epoch 65/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0946 - accuracy: 0.9641
Epoch 66/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0945 - accuracy: 0.9642
Epoch 67/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.0945 - accuracy: 0.9646
Epoch 68/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.0944 - accuracy: 0.9646
Epoch 69/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.0942 - accuracy: 0.9647
Epoch 70/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.0945 - accuracy: 0.9644
Epoch 71/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0944 - accuracy: 0.9646
Epoch 72/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0943 - accuracy: 0.9645
Epoch 73/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0948 - accuracy: 0.9645
Epoch 74/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.0942 - accuracy: 0.9646
Epoch 75/100

25724/25724 [==============================] - 4s 147us/sample - loss: 0.0940 - accuracy: 0.9648
Epoch 76/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0942 - accuracy: 0.9647
Epoch 77/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0941 - accuracy: 0.9640
Epoch 78/100
25724/25724 [==============================] - 5s 210us/sample - loss: 0.0938 - accuracy: 0.9645
Epoch 79/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0939 - accuracy: 0.9642
Epoch 80/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0943 - accuracy: 0.9643
Epoch 81/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0941 - accuracy: 0.9647
Epoch 82/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0941 - accuracy: 0.9645
Epoch 83/100
25724/25724 [==============================] - 5s 190us/sample - loss: 0.0939 - accuracy: 0.9649
Epoch 84/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0941 - accuracy: 0.9644
Epoch 85/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.0937 - accuracy: 0.9655
Epoch 86/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.0929 - accuracy: 0.9652
Epoch 87/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.0930 - accuracy: 0.9652
Epoch 88/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.0929 - accuracy: 0.9654
Epoch 89/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.0926 - accuracy: 0.9656
Epoch 90/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0928 - accuracy: 0.9654
Epoch 91/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0927 - accuracy: 0.9655
Epoch 92/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.0926 - accuracy: 0.9649
Epoch 93/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.0927 - accuracy: 0.9655
Epoch 94/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0924 - accuracy: 0.9652
Epoch 95/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0924 - accuracy: 0.9654
Epoch 96/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.0922 - accuracy: 0.9658
Epoch 97/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0920 - accuracy: 0.9656
Epoch 98/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0919 - accuracy: 0.9652
Epoch 99/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0921 - accuracy: 0.9654
Epoch 100/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.0915 - accuracy: 0.9658
8575/1 - 1s - loss: 0.7465 - accuracy: 0.5866
Loss: 0.7508087614256856, Accuracy: 0.5865889191627502

# Optimization
7.Do your best to optimize your model training and input data to achieve a target predictive accuracy higher than 75%.

In [18]:
#Try an additional neuron in 2nd hidden layer
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn_new = tf.keras.models.Sequential()

# First hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_new.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_new.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 157488
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 157,539
Trainable params: 157,539
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_new.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 5s 195us/sample - loss: 0.0860 - accuracy: 0.9654
Epoch 2/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.0852 - accuracy: 0.9657
Epoch 3/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.0846 - accuracy: 0.9654
Epoch 4/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0851 - accuracy: 0.9653
Epoch 5/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.0849 - accuracy: 0.9654
Epoch 6/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0849 - accuracy: 0.9656
Epoch 7/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0840 - accuracy: 0.9656
Epoch 8/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0841 - accuracy: 0.9656
Epoch 9/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0844 - accuracy: 0.9658
Epoch 10/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.0840 - accuracy: 0.9661
Epoch 11/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0842 - accuracy: 0.9652
Epoch 12/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.0839 - accuracy: 0.9654
Epoch 13/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.0842 - accuracy: 0.9654
Epoch 14/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0843 - accuracy: 0.9656
Epoch 15/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.0838 - accuracy: 0.9656
Epoch 16/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0834 - accuracy: 0.9660
Epoch 17/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.0838 - accuracy: 0.9651
Epoch 18/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0838 - accuracy: 0.9658
Epoch 19/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.0835 - accuracy: 0.9658
Epoch 20/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.0834 - accuracy: 0.9658
Epoch 21/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.0833 - accuracy: 0.9660
Epoch 22/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0838 - accuracy: 0.9659
Epoch 23/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0833 - accuracy: 0.9658
Epoch 24/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0839 - accuracy: 0.9656
Epoch 25/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0833 - accuracy: 0.9658
Epoch 26/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0829 - accuracy: 0.9658
Epoch 27/100
25724/25724 [==============================] - 4s 172us/sample - loss: 0.0832 - accuracy: 0.9661
Epoch 28/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0830 - accuracy: 0.9662
Epoch 29/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0827 - accuracy: 0.9658
Epoch 30/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0829 - accuracy: 0.9657
Epoch 31/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0832 - accuracy: 0.9660
Epoch 32/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0830 - accuracy: 0.9656
Epoch 33/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.0830 - accuracy: 0.9661
Epoch 34/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0830 - accuracy: 0.9657
Epoch 35/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.0827 - accuracy: 0.9657
Epoch 36/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.0826 - accuracy: 0.9661
Epoch 37/100
25724/25724 [==============================] - 5s 188us/sample - loss: 0.0827 - accuracy: 0.9662
Epoch 38/100
25724/25724 [==============================] - 5s 186us/sample - loss: 0.0824 - accuracy: 0.9664
Epoch 39/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0827 - accuracy: 0.9656
Epoch 40/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0828 - accuracy: 0.9657
Epoch 41/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0824 - accuracy: 0.9665
Epoch 42/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0822 - accuracy: 0.9659
Epoch 43/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0821 - accuracy: 0.9659
Epoch 44/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0822 - accuracy: 0.9661
Epoch 45/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0819 - accuracy: 0.9660
Epoch 46/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0825 - accuracy: 0.9660
Epoch 47/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.0821 - accuracy: 0.9661
Epoch 48/100
25724/25724 [==============================] - 4s 175us/sample - loss: 0.0822 - accuracy: 0.9661
Epoch 49/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0821 - accuracy: 0.9663
Epoch 50/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.0822 - accuracy: 0.9656
Epoch 51/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.0826 - accuracy: 0.9657
Epoch 52/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.0825 - accuracy: 0.9659
Epoch 53/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0823 - accuracy: 0.9659
Epoch 54/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0823 - accuracy: 0.9657
Epoch 55/100
25724/25724 [==============================] - 5s 184us/sample - loss: 0.0822 - accuracy: 0.9661
Epoch 56/100
25724/25724 [==============================] - 5s 197us/sample - loss: 0.0820 - accuracy: 0.9666
Epoch 57/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0820 - accuracy: 0.9660
Epoch 58/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.0817 - accuracy: 0.9665
Epoch 59/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0817 - accuracy: 0.9667
Epoch 60/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0816 - accuracy: 0.9660
Epoch 61/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0820 - accuracy: 0.9661
Epoch 62/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.0819 - accuracy: 0.9658
Epoch 63/100
25724/25724 [==============================] - 5s 186us/sample - loss: 0.0819 - accuracy: 0.9662
Epoch 64/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0815 - accuracy: 0.9662
Epoch 65/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0821 - accuracy: 0.9660
Epoch 66/100
25724/25724 [==============================] - 5s 181us/sample - loss: 0.0825 - accuracy: 0.9662
Epoch 67/100
25724/25724 [==============================] - 5s 175us/sample - loss: 0.0813 - accuracy: 0.9660
Epoch 68/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.0815 - accuracy: 0.9659
Epoch 69/100
25724/25724 [==============================] - 4s 172us/sample - loss: 0.0815 - accuracy: 0.9663
Epoch 70/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0820 - accuracy: 0.9664
Epoch 71/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0816 - accuracy: 0.9664
Epoch 72/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.0822 - accuracy: 0.9660
Epoch 73/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0820 - accuracy: 0.9661
Epoch 74/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0816 - accuracy: 0.9660
Epoch 75/100

25724/25724 [==============================] - 5s 176us/sample - loss: 0.0817 - accuracy: 0.9662
Epoch 76/100
25724/25724 [==============================] - 5s 179us/sample - loss: 0.0816 - accuracy: 0.9658
Epoch 77/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.0815 - accuracy: 0.9665
Epoch 78/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0817 - accuracy: 0.9662
Epoch 79/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0815 - accuracy: 0.9660
Epoch 80/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0809 - accuracy: 0.9664
Epoch 81/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.0812 - accuracy: 0.9659
Epoch 82/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.0815 - accuracy: 0.9663
Epoch 83/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.0809 - accuracy: 0.9663
Epoch 84/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.0813 - accuracy: 0.9661
Epoch 85/100
25724/25724 [==============================] - 4s 159us/sample - loss: 0.0814 - accuracy: 0.9661
Epoch 86/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.0813 - accuracy: 0.9658
Epoch 87/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.0817 - accuracy: 0.9666
Epoch 88/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0809 - accuracy: 0.9666
Epoch 89/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.0808 - accuracy: 0.9668
Epoch 90/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0812 - accuracy: 0.9664
Epoch 91/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.0812 - accuracy: 0.9661
Epoch 92/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0810 - accuracy: 0.9665
Epoch 93/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.0811 - accuracy: 0.9674
Epoch 94/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0812 - accuracy: 0.9658
Epoch 95/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.0808 - accuracy: 0.9663
Epoch 96/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.0810 - accuracy: 0.9659
Epoch 97/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.0809 - accuracy: 0.9668
Epoch 98/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.0809 - accuracy: 0.9669
Epoch 99/100
25724/25724 [==============================] - 5s 181us/sample - loss: 0.0808 - accuracy: 0.9665
Epoch 100/100
25724/25724 [==============================] - 5s 182us/sample - loss: 0.0810 - accuracy: 0.9663
8575/1 - 2s - loss: 0.8296 - accuracy: 0.7556
Loss: 0.7365455040083683, Accuracy: 0.7555685043334961