In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.datasets import load_digits

In [2]:
#2.Download the Alphabet Soup Charity dataset
charity_df= pd.read_csv("charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
y_train = charity_df.IS_SUCCESSFUL
y_train

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [4]:
X_train= charity_df.drop(columns='IS_SUCCESSFUL')
X_train

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590
...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179

In [5]:
#3.Import and characterize the input data
charity_df = charity_df.drop(columns=['EIN', 'NAME'])

In [6]:
charity_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [7]:
# List dataframe data types
charity_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [8]:
X_train.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
dtype: int64

In [9]:
X_train[X_train.dtypes[X_train.dtypes=='object'].index].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [10]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [11]:
# 4.Using the methods described in this module, preprocess all numerical and categorical variables, as needed
#Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]), index=charity_df.index)

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
#pd.get_dummies(X_train[X_train.dtypes[X_train.dtypes=='object'].index])

In [13]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
import operator
from sklearn.feature_selection import SelectKBest, chi2
# Split our preprocessed data into our features and target arrays
y_df = charity_df["IS_SUCCESSFUL"]
X_df = charity_df.drop(["IS_SUCCESSFUL"],1)
skb = SelectKBest(chi2, k=20)
skb.fit_transform(X_df, y_df)
support = skb.get_support()
n = 1
features = dict()
for col_name, score in zip(X_df.columns.values[support], skb.scores_[support]):
    features[col_name] = score
for feature, score in sorted(features.items(), key=operator.itemgetter(1), reverse=True):
    print("%d. %s %.2f" % (n, feature, score))
    n += 1

1. ASK_AMT 11091834364.52
2. AFFILIATION_CompanySponsored 2536.98
3. AFFILIATION_Independent 2146.03
4. ORGANIZATION_Association 775.23
5. CLASSIFICATION_C2100 709.04
6. APPLICATION_TYPE_T19 505.28
7. CLASSIFICATION_C7000 406.23
8. APPLICATION_TYPE_T4 319.06
9. ORGANIZATION_Trust 283.59
10. APPLICATION_TYPE_T5 259.89
11. APPLICATION_TYPE_T10 254.47
12. APPLICATION_TYPE_T6 210.77
13. INCOME_AMT_1-9999 150.96
14. CLASSIFICATION_C5000 107.66
15. ORGANIZATION_Co-operative 96.85
16. CLASSIFICATION_C1200 94.45
17. CLASSIFICATION_C4000 68.97
18. CLASSIFICATION_C1000 66.49
19. USE_CASE_CommunityServ 51.91
20. INCOME_AMT_10000-24999 46.06

In [15]:
#Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop("IS_SUCCESSFUL",1).values
X_new= SelectKBest(chi2, k=20).fit_transform(X, y)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_new, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
#5.
# Define the model - deep neural net
number_input_features = len(X_train_scaled[1])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 168
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 5
=================================================================
Total params: 209
Trainable params: 209
Non-trainable params: 0
_________________________________________________________________

In [17]:
#6.Compile, train, and evaluate your binary classification model.
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.6915 - accuracy: 0.5311
Epoch 2/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 3/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 4/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 5/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 6/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 7/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 8/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 9/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 10/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 11/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 12/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 13/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 14/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 15/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 16/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 17/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 18/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 19/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 20/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 21/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 22/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 23/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 24/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 25/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 26/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 27/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 28/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 29/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 30/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 31/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 32/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 33/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 34/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 35/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 36/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 37/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 38/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 39/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 40/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 41/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 42/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 43/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 44/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 45/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 46/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 47/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 48/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 49/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 50/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 51/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 52/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 53/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 54/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 55/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 56/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 57/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 58/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 59/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 60/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 61/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 62/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 63/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 64/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 65/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 66/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 67/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 68/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 69/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 70/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 71/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 72/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 73/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 74/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 75/100

25724/25724 [==============================] - 3s 100us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 76/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 77/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 78/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 79/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 80/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 81/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 82/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 83/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 84/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 85/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 86/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 87/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 88/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 89/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 90/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 91/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 92/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 93/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 94/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 95/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 96/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 97/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321s - loss: 0.6909 - accura
Epoch 98/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 99/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - accuracy: 0.5321
Epoch 100/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6911 - accuracy: 0.5321

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.6716 - accuracy: 0.6424
Loss: 0.6799999198621633, Accuracy: 0.6424489617347717

# Optimization
7.Do your best to optimize your model training and input data to achieve a target predictive accuracy higher than 75%.

In [19]:
#Try an additional neuron in 2nd hidden layer
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn_new = tf.keras.models.Sequential()

# First hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_new.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_new.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_new.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 168
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 219
Trainable params: 219
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_new.fit(X_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.6378 - accuracy: 0.6630
Epoch 2/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5785 - accuracy: 0.7195
Epoch 3/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5699 - accuracy: 0.7212
Epoch 4/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5682 - accuracy: 0.7212
Epoch 5/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5670 - accuracy: 0.7224
Epoch 6/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5662 - accuracy: 0.7237
Epoch 7/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5658 - accuracy: 0.7241
Epoch 8/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5651 - accuracy: 0.7234
Epoch 9/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5650 - accuracy: 0.7239
Epoch 10/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5648 - accuracy: 0.7241
Epoch 11/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5645 - accuracy: 0.7238
Epoch 12/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5642 - accuracy: 0.7236
Epoch 13/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5640 - accuracy: 0.7241
Epoch 14/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5640 - accuracy: 0.7246
Epoch 15/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5637 - accuracy: 0.7246
Epoch 16/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5635 - accuracy: 0.7239
Epoch 17/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5633 - accuracy: 0.7247
Epoch 18/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5633 - accuracy: 0.7247
Epoch 19/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5631 - accuracy: 0.7245
Epoch 20/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5628 - accuracy: 0.7245
Epoch 21/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5628 - accuracy: 0.7250
Epoch 22/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5626 - accuracy: 0.7251
Epoch 23/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5626 - accuracy: 0.7247
Epoch 24/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5623 - accuracy: 0.7255
Epoch 25/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5624 - accuracy: 0.7250
Epoch 26/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5622 - accuracy: 0.7250
Epoch 27/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5621 - accuracy: 0.7251
Epoch 28/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5617 - accuracy: 0.7250
Epoch 29/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5616 - accuracy: 0.7252
Epoch 30/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5618 - accuracy: 0.7259
Epoch 31/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5616 - accuracy: 0.7257
Epoch 32/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5615 - accuracy: 0.7260
Epoch 33/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5614 - accuracy: 0.7262
Epoch 34/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5613 - accuracy: 0.7261
Epoch 35/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5612 - accuracy: 0.7256
Epoch 36/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5612 - accuracy: 0.7257
Epoch 37/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5611 - accuracy: 0.7264
Epoch 38/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5610 - accuracy: 0.7259
Epoch 39/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5612 - accuracy: 0.7259
Epoch 40/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5609 - accuracy: 0.7263
Epoch 41/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5609 - accuracy: 0.7261
Epoch 42/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5609 - accuracy: 0.7257
Epoch 43/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5609 - accuracy: 0.7261
Epoch 44/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5608 - accuracy: 0.7261
Epoch 45/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5608 - accuracy: 0.7261
Epoch 46/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5603 - accuracy: 0.7264
Epoch 47/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5604 - accuracy: 0.7268
Epoch 48/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5603 - accuracy: 0.7262
Epoch 49/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5604 - accuracy: 0.7261
Epoch 50/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5603 - accuracy: 0.7264
Epoch 51/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5602 - accuracy: 0.7269
Epoch 52/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5602 - accuracy: 0.7265
Epoch 53/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5601 - accuracy: 0.7266
Epoch 54/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5601 - accuracy: 0.7269
Epoch 55/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5600 - accuracy: 0.7264
Epoch 56/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5602 - accuracy: 0.7267
Epoch 57/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5599 - accuracy: 0.7269
Epoch 58/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5598 - accuracy: 0.7266
Epoch 59/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5596 - accuracy: 0.7269
Epoch 60/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5598 - accuracy: 0.7267
Epoch 61/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5598 - accuracy: 0.7267
Epoch 62/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5597 - accuracy: 0.7271
Epoch 63/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5598 - accuracy: 0.7269
Epoch 64/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5595 - accuracy: 0.7271
Epoch 65/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5592 - accuracy: 0.7273
Epoch 66/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5596 - accuracy: 0.7268
Epoch 67/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5595 - accuracy: 0.7273
Epoch 68/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5596 - accuracy: 0.7271
Epoch 69/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5594 - accuracy: 0.7269
Epoch 70/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5593 - accuracy: 0.7271
Epoch 71/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5592 - accuracy: 0.7269
Epoch 72/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5593 - accuracy: 0.7271
Epoch 73/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5592 - accuracy: 0.7271
Epoch 74/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5592 - accuracy: 0.7269
Epoch 75/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5593 - accuracy: 0.7268
Epoch 76/100

25724/25724 [==============================] - 1s 44us/sample - loss: 0.5592 - accuracy: 0.7271
Epoch 77/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5591 - accuracy: 0.7269
Epoch 78/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5592 - accuracy: 0.7270
Epoch 79/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5592 - accuracy: 0.7273
Epoch 80/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5589 - accuracy: 0.7267
Epoch 81/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5589 - accuracy: 0.7266
Epoch 82/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5590 - accuracy: 0.7274
Epoch 83/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5591 - accuracy: 0.7268
Epoch 84/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5591 - accuracy: 0.7268
Epoch 85/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5590 - accuracy: 0.7268
Epoch 86/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5588 - accuracy: 0.7268
Epoch 87/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5590 - accuracy: 0.7272
Epoch 88/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5587 - accuracy: 0.7269
Epoch 89/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5587 - accuracy: 0.7268
Epoch 90/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5588 - accuracy: 0.7273
Epoch 91/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5588 - accuracy: 0.7269
Epoch 92/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5589 - accuracy: 0.7274
Epoch 93/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5586 - accuracy: 0.7272
Epoch 94/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5587 - accuracy: 0.7271
Epoch 95/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5587 - accuracy: 0.7270
Epoch 96/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5586 - accuracy: 0.7273
Epoch 97/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5587 - accuracy: 0.7269
Epoch 98/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5583 - accuracy: 0.7273
Epoch 99/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5585 - accuracy: 0.7272
Epoch 100/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5585 - accuracy: 0.7273

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5263 - accuracy: 0.7208
Loss: 0.5632162124770028, Accuracy: 0.7208163142204285